<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="css/home.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="js/home.js"></script>

</head>
</html>


<span class="bckg"></span>
<header>
  <h1>Dashboard</h1>
  <nav>
    <ul>
      <li>
        <a href="https://messenger.jo-pouradier.fr/home" data-title="home">Home</a>
      </li>
      <li>
        <a href="https://messenger.jo-pouradier.fr/planning" data-title="Planning">Planning</a>
      </li>
      <li>
        <a href="https://messenger.jo-pouradier.fr/sendMessage" data-title="SendMessage">Envoyer un message</a>
      </li>
      <li>
        <a href="https://messenger.jo-pouradier.fr/membres" data-title="Membres">Membres</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class="title">
    <h2>CPE Planning</h2>
  </div>

  <!-- Insert html -->
  <div class="content">
    <% labels.forEach(function(label) { %>
      <canvas id="<%= label %>" style="width:100%;max-width:600px"></canvas>
      <script>
        var barColors = ["#b91d47","#00aba9"];
        new Chart("<%= label %>", {
          type: "pie",
          data: {
            labels: <%- JSON.stringify(xlabels[label]) %> ,
            datasets: [{
              backgroundColor: barColors,
              data: <%- JSON.stringify(ylabels[label]) %>
            }]
          },
          options: {
            title: {
              display: true,
              text: "Graph TEST"
            }
          }
        });
   

        </script>
        <% }); %>
  </div>
  
</main>