input {
    display:none;
  }
  
  label {
    width: 5%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
    color: white;
    font-family: sans-serif;
    transition: all .5s;
    box-shadow: 1px 1px 15px 3px gray;
  }
  
  label:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  
  :root {
    height:100%;
  }
  
