body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin: 0;
    height: auto;
}

html{
    height: 100%;
}

header{
  width: 100%;
  top: 0;
  display: flex;
}

header h1 {
    padding-left: 20px;
}

header, .navigation{
    position: fixed;
    background: #0496FF;
}

.logo{
    display: flex;
    height: 40px;
    width: 40px;
    margin-block-start: 23px;
    margin-block-end: 23px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 40px;
}

main h2{
    margin-left: 20px;
    padding-top: 10px;
}

main {
    margin-top: 90px;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.parent{
  display: flex;
  flex-wrap: wrap;
}

.container-select {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}