.login-page {
    font-family: "Poppins", sans-serif;
    background: #e2f6ff;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    padding: 50px;
    transform: translate(-50%, -50%);
    background: #0496ff;
    border-radius: 10px;
}

.heading-login-box {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    border: none;
}

.user-box {
    position: relative;
}

.user-box-input{
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

/* using webkit to get the same view when autocompleted */
.user-box-input:-webkit-autofill,
.user-box-input:-webkit-autofill:hover,
.user-box-input:-webkit-autofill:focus,
.user-box-input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
.user-box-label:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 37px #0496ff inset !important;
    -webkit-text-fill-color: #fff !important;
    /* remove borders */
    -webkit-border: none;
    -webkit-border-bottom: 1px solid #fff;
}


.user-box-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label,
.login-box .user-box input:hover~label{
    top: -28px;
    left: 0;
    color: #fff;
    font-size: 12px;
}

.button {
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    background-color: #bd1050;
    border: none;
    font-size: 14px;
    text-decoration: none;
    transition: 0.5s;
    margin-top: 30px;
    width: 100%;
    border-radius: 10px;
}

.button:hover {
    background-color: #8F2D56;
}

@media screen and (max-width: 576px) and (min-width: 400px) {
    .login-box {
        width: 250px;
    }
}

@media screen and (max-width: 400px) {
    .login-box {
        width: 200px;
    }

    .heading-login-box {
        font-size: 16px !important;
    }

    .user-box-input {
        font-size: 12px;
    }

    .user-box-label {
        font-size: 12px;
    }
    .login-box-button {
        font-size: 12px;
    }
}