@primary: #2975DA;
@easing: cubic-bezier(0.5,2,0.5,0.75);

.button-container-select {
   // center this div
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: center;
   align-items: center;

   form {
      display: flex;
      justify-content: space-between;
      align-items: center;
   //   border-bottom: 2px solid black;
      box-shadow: 0 2px 4px rgba(black, 0.24);
   }
   button {
      display: block;
      padding-bottom: 8px;
      padding-top: 8px;
      padding-left: 10px;
      padding-right: 10px;
      background: none;
      border: none;
      outline: none;
      font-size: 16px;
      text-align: center;
      outline: none;
      cursor: pointer;
      color: #0496ff;
      &:hover {
         color: white;
         background-color: #0496ff;
      }
      &:before {
         border-bottom: 2px solid #bd1050;
      }
   }
}

.timetable{
   margin-top: 20px;
   width: 80%;
   border-radius: 10px;
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   
   th, td{
      border: 2px solid #2975DA;
   }

   pre{
      font-family: "Poppins", sans-serif;
      text-align: center;
   }
}

.timetable-image{
   display: block;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
   width: 400px;
   height: 640px;
}

@media (min-width: 767px) {
   .timetable-image{
      width: 600px;
      height: 960px;
   }
}

@media (max-width: 767px) {
   .timetable-image{
      width: 300px;
      height: 480px;
   }
   .button-container-select{
      margin-left: 60px;
   }
   .timetable{
      margin-left: -30px;
   }
}