<head>
    <link rel="stylesheet/less" type="text/css" href="../css/about.less" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<img src="/png/baniere.png" >

<div id="txt-container">
    <h2>Bot messenger pour l'emploi du temps des étudiants</h2>

    <p>Pierre-Louis Telep et Joseph Pouradier Duteil, Nous avons crée ce site et un bot messenger pour aider les élèves à avoir leurs emploi du temps plus facilement sur messenger ou ce site.</p>
    <h3>• Info Technique</h3>
    <p>Ce Bot à été crée avec Nodejs et le framework Expressjs. Il est hébergé sur un serveur personnel chez moi. Il est en ligne 24/7 et est accessible à tout moment. <br>
    La première version du bot à été crée par Weleed Ahmad avec son Aww-Bot | Github. <br>
    </p>
    <h3>• Github </h3>
    <p>Vous pouvez retrouver le code source du bot sur Github. <br>
    <a href="https://github.com/Pierrelouis2/CPE_Planning"> <i class="fa-brands fa-github fa-beat"></i> </a>


</div>


<!-- <script src="https://cdn.jsdelivr.net/npm/less" ></script> -->
