

<label for="pic">
    <span>Click To Upload File ;D</span>
    <form action="/depot-form" enctype="multipart/form-data" method="post">
        <input type="file" name="file" accept=".xls, .xlsx">
        <input type="submit" value="Upload">
    </form>
</label>
  