<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/home.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="../js/home.js"></script>
  <title>CPE Planning</title>
</head>

<body>
  <header>
  <h1 class="top-title">CPE Planning</h1>
  </header>
 
  <%- include('./sidebar'); %>

  <main>
    <%- include(`./${page}`) %>
    <!-- A changer en fonction de l'uri -->

  </main>

  <footer>
    <p>© 2023 - CPE Planning</p>
  </footer>
</body>

</html>