<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/home.css">
  <link rel="shortcut icon" type="image/x-icon" href="/png/logo-modified.png">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="../js/home.js"></script>
  <title>CPE Planning</title>
</head>

<body>
  <header>
    <img src="/png/logo.png" alt="logo" class="logo">
    <h1 class="top-title">CPE Planning</h1>
  </header>
 
  <%- include('./sidebar'); %>

  <main>
    <%- include(`./${page}`); %>
  </main>

  <footer>
    
   <i class="fa-sharp fa-solid fa-bolt fa-bounce" style="color: #ff0000;"></i> <a class="footer-info" href="https://www.linkedin.com/in/joseph-pouradier-duteil-b21a37221/"> Joseph Pouradier Duteil </a> • 
    <a class="footer-info" href="https://www.linkedin.com/in/pierre-louis-telep-a56811233/"> Pierre-louis TELEP</a> <i class="fa-solid fa-heart fa-bounce" style="color: #4bbf2b;"></i>
    <p>© 2023 - CPE Planning</p>
  </footer>
</body>

</html>