<head>
    <link rel="stylesheet/less" type="text/css" href="../css/planning.less" />
</head>

<h2>My Planning</h2>

<div class="container-select">
    <div class="dropdown">
       <button type="submit">Jour</button>
       <ul class="dropdown-options" onmouseleave="leaveFct()">
         <li class="option">
            <form action="/planning/LUNDI" method="post">
               <input class="input-payload" type="submit" name="payload" value="LUNDI" />
           </form>
         </li>
         <li class="option">
            <form action="/planning/MARDI" method="post">
               <input class="input-payload" type="submit" name="payload" value="MARDI" />
           </form>
         </li>
         <li class="option">
            <form action="/planning/MERCREDI" method="post">
               <input class="input-payload" type="submit" name="payload" value="MERCREDI" />
           </form>
         </li>
         <li class="option">
            <form action="/planning/JEUDI" method="post">
               <input class="input-payload" type="submit" name="payload" value="JEUDI" />
           </form>
         </li>
         <li class="option">
            <form action="/planning/VENDREDI" method="post">
               <input class="input-payload" type="submit" name="payload" value="VENDREDI" />
           </form>
         </li>
         <li class="option">
            <form action="/planning/TOUT" method="post">
               <input class="input-payload" type="submit" name="payload" value="TOUT" />
           </form>
         </li>
       </ul>
    </div>
 </div>

 <!-- Timetable -->
 <% if (locals.timetable) { %>
    <table class="timetable">
        <tr>
            <th>Matin</th>
            <th>Après-midi</th>
        </tr>
        <tr>
            <td><% timetable.Matin %></td>
            <td><% timetable.Aprem %></td>
        </tr>
    </table>
<% } %>

 <script src="https://cdn.jsdelivr.net/npm/less" ></script>
 <script src="../js/planning.js"></script>