<head>
    <link rel="stylesheet/less" type="text/css" href="../css/planning.less" />
</head>

<div class="container">
    <div class="dropdown">
       <button >Select</button>
       <ul class="dropdown-options" onmouseleave="leaveFct()">
          <li class="option">
             <a href="#">Home</a>
          </li>
          <li class="option">
             <a href="#">About</a>
          </li>
          <li class="option">
             <a href="#">Portfolio</a>
          </li>
          <li class="option">
             <a href="#">Contact</a>
          </li>
       </ul>
    </div>
 </div>

 <script src="https://cdn.jsdelivr.net/npm/less" ></script>
 <script src="../js/planning.js"></script>