<head>
    <link rel="stylesheet/less" type="text/css" href="../css/profile.less">
</head>

<h2 class>Mon profil</h2>
<div class="container">
	<div class="grid">
		<div class="form-group a">
			<label for="name">Nom</label>
            <h3> <%= user.nom %></h3>
		</div>

		<div class="form-group b">
			<label for="first-name">Prénom</label>
            <h3> <%= user.prenom %></h3>
		</div>

		<div class="form-group email-group">
			<label for="email">Email (CPE)</label>
            <h3> <%= user.email %></h3>
		</div>


		<div class="form-group">
			<label for="Sender_psid">Code de liaison</label>
            <h3> <%= user.psid %></h3>
		</div>

        <div class="form-group">
			<label for="password">Password</label>
            <h3> ********** </h3>
		</div>
        <form action="/profile_change" method="post">
            <div class="button-container">
                <button type="submit" class="button" >Modifier les infos</button>
            </div>
        </form>
	</div>
</div>