<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link type="text/css"  rel="stylesheet" href='css/login.css'>
</head>

</html>

<body class="login-page">
    <div class="login-box">
        <h2 class="heading-login-box">Inscription</h2>
        <form action="/register-form" method="post">
            <div class="user-box">
                <input class="user-box-input" type="text" required name="nom">
                <label class="user-box-label">Nom</label>
            </div>
            <div class="user-box">
                <input class="user-box-input" type="text" required name="prenom"> 
                <label class="user-box-label">Prenom</label>
            </div>
            <div class="user-box">
                <input class="user-box-input" type="email" required name="email"> 
                <label class="user-box-label">Email</label>
            </div>
            <div class="user-box">
                <input class="user-box-input" type="number" required name="code"> 
                <label class="user-box-label">Code de liaison</label>
            </div>
            <div class="user-box">
                <input class="user-box-input" type="password" required name="password"> 
                <label class="user-box-label">Password</label>
            </div>
            <input class="button" type="submit" value="Inscription">
        </form>

        <% if(locals.error){ %>
            <div class="error">
                <p class="error"><%= locals.error %></p>
            </div>
        <% } %>
    </div>
</body>