<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="../css/sidebar.css">
</head>

  <div class="navigation">
    <ul>
      <li>
        <a href="/admin">
          <span class="icon"><i class="fa-solid fa-house"></i></span>
          <span class="title-sb">Home</span>
        </a>
      </li>
      <li>
        <a href="/profile">
          <span class="icon"><i class="fa-solid fa-user"></i></span>
          <span class="title-sb">Profile</span>
        </a>
      </li>
      <li>
        <a href="https://messenger.jo-pouradier.fr/about">
          <span class="icon"><i class="fa-solid fa-circle-info"></i></span>
          <span class="title-sb">A propos</span>
        </a>
      </li>
      <li>
        <a href="/depot">
          <span class="icon"><i class="fa-solid fa-upload"></i></span>
          <span class="title-sb">Depot EDT</span>
        </a>
      </li>
      </li>
      <li>
        <a href="/planning">
          <span class="icon"><i class="fa-regular fa-calendar-days"></i></span>
          <span class="title-sb">Calendrier</span>
        </a>
      </li>
      <li>
        <a href="/message">
          <span class="icon"><i class="fa-solid fa-message"></i></span>
          <span class="title-sb">Message</span>
        </a>
      </li>
      <li>
        <a href="https://messenger.jo-pouradier.fr/disconnect">
          <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
          <span class="title-sb">Déconnexion</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="toggle" onclick="toggleMenu()"></div>
  <script type="text/javascript">
    function toggleMenu() {
      let navigation = document.querySelector('.navigation');
      let toggle = document.querySelector('.toggle');
      navigation.classList.toggle('active');
      toggle.classList.toggle('active');
    }
  </script>